<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="home">
    General
  </ion-button>
  <ion-button href="production">
    Production
  </ion-button>
  <ion-button href="pricing">
    Pricing
  </ion-button>
  <ion-button href="deliviries">
    Deliviries
  </ion-button>
  <ion-button href="routing">
    Routing
  </ion-button>
  <ion-button href="material">
    Material
  </ion-button>
  <ion-button href="assemblies">
    Assemblies
  </ion-button>
  <ion-button href="releases">
    Releases
  </ion-button>
  <ion-button href="custom">
    Custom
  </ion-button>
  
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Unity Price</ion-label>
            <ion-input placeholder="$0.00000"></ion-input>  
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Price VolM</ion-label>
            <ion-input placeholder="ea"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Conversion Factor</ion-label>
            <ion-input placeholder="1"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Total Price</ion-label>
            <ion-input placeholder="$ 0.00"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Payment Terms</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Sales Rep ID</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-button>
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Commission %</ion-label>
            <ion-input placeholder="0.00%"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Commission Included in Price</ion-label> 
            <ion-checkbox></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Sales Code</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Tax Code</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-button>
              <ion-icon name="search-circle"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-input placeholder="0%"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Tax Amount</ion-label>
            <ion-input placeholder="% 0.00"></ion-input>
          </ion-item>
        </ion-col> 
        <ion-col col-3>
          <ion-item>
            <ion-button>
              <ion-icon name="cash-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-button>
              <ion-icon name="wallet-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      
    </ion-card-content>
  </ion-card>

</ion-content>
