<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="home">
    General
  </ion-button>
  <ion-button href="production">
    Production
  </ion-button>
  <ion-button href="pricing">
    Pricing
  </ion-button>
  <ion-button href="deliviries">
    Deliviries
  </ion-button>
  <ion-button href="routing">
    Routing
  </ion-button>
  <ion-button href="material">
    Material
  </ion-button>
  <ion-button href="assemblies">
    Assemblies
  </ion-button>
  <ion-button href="releases">
    Releases
  </ion-button>
  <ion-button href="custom">
    Custom
  </ion-button>
  
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Address ID
            </ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Address</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Shipment Method</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked"></ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Lead Days</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <ion-item>
            <ion-label position="stacked">Committed Qty</ion-label>
            <ion-input placeholder="0"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
