<ion-card>
  <ion-card-content>
    <ion-item color="tertiary">
      <ion-label position="stacked">Job ID:</ion-label>
      <ion-input></ion-input>
      <ion-input type="number" value="1"></ion-input>
      <ion-label position="stacked">Status:</ion-label>
      <ion-input placeholder="active"></ion-input>
      <ion-label position="stacked">Type:</ion-label>
      <ion-input placeholder="Regular"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button>
  General
</ion-button>
<ion-button href="pricing">
  Production
</ion-button>
<ion-button href="pricing">
  Pricing
</ion-button>
<ion-button href="deliviries">
  Deliviries
</ion-button>
<ion-button href="routing">
  Routing
</ion-button>
<ion-button href="material">
  Material
</ion-button>
<ion-button href="assemblies">
  Assemblies
</ion-button>
<ion-button href="releases">
  Releases
</ion-button>
<ion-button href="custom">
  Custom
</ion-button>

<ion-card>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>
</ion-content>
