<ion-toolbar>
<ion-card>
  <ion-card-content>
  <ion-row col-3>
    <ion-item>
      <ion-label position="stacked">Job ID:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-col col-3 class="padding-left-2px">
      <ion-item>
        <ion-input type="number" value="1"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3> 
      <ion-item>
        <ion-label position="stacked">Status:</ion-label>
        <ion-input placeholder="active"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <ion-item>
        <ion-label position="stacked">Type:</ion-label>
       <ion-input placeholder="Regular"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  </ion-card-content>
</ion-card>
</ion-toolbar>


<ion-header [translucent]="true">
  <ion-toolbar color="primary">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
  <ion-col col-3>
    <ion-button>
      General
    </ion-button>
    <ion-button href="pricing">
      Production
    </ion-button>
    <ion-button href="pricing">
      Pricing
    </ion-button>
    <ion-button href="deliviries">
      Deliviries
    </ion-button>
    <ion-button href="routing">
      Routing
    </ion-button>
    <ion-button href="material">
      Material
    </ion-button>
    <ion-button href="assemblies">
      Assemblies
    </ion-button>
    <ion-button href="releases">
      Releases
    </ion-button>
    <ion-button href="custom">
      Custom
    </ion-button>
  </ion-col> 
</ion-row>
<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="floating">MM/DD/YYYY</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-13" max="2012-12-08" value="2002-0923T15:03:46.789"></ion-datetime>
        </ion-item>
      </ion-col>  
      <ion-col col-9>
        <ion-item class="padding-left-2px">
          <ion-label position="stacked">Order Qty</ion-label>
          <ion-input placeholder="1"></ion-input> 
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-label position="stacked">Order VolM</ion-label>
          <ion-input placeholder="ea"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-label position="stacked">Status</ion-label>
          <ion-input placeholder="active"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-label>MM DD YY</ion-label>
          <ion-datetime [pickerOptions]="customPickerOptions" placeholder="/ /"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Customer ID</ion-label>
          <ion-input placeholder=""></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-button>
         <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon name="person-outline"></ion-icon>
         </ion-button>
         <ion-button>
          <ion-icon name="document-outline"></ion-icon>
         </ion-button>
         <ion-button>
          <ion-icon name="call-outline"></ion-icon>
         </ion-button>
      </ion-col>
      <ion-col col-3>
       <ion-item>
         <ion-label position="stacked">Customer PO Number</ion-label>
         <ion-input></ion-input>
       </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Contact</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">PD Line</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Priority</ion-label>
          <ion-input type="number" value="1"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
       <ion-item>
         <ion-label position="stacked">Part Number</ion-label>
        <ion-input></ion-input>
       </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-button>
            <ion-icon name="search-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Revision</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Description</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Drawing</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Quote ID</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Build for Inventory</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Notify Shop</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
