<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="home">
    General
  </ion-button>
  <ion-button href="production">
    Production
  </ion-button>
  <ion-button href="pricing">
    Pricing
  </ion-button>
  <ion-button href="deliviries">
    Deliviries
  </ion-button>
  <ion-button href="routing">
    Routing
  </ion-button>
  <ion-button href="material">
    Material
  </ion-button>
  <ion-button href="assemblies">
    Assemblies
  </ion-button>
  <ion-button href="releases">
    Releases
  </ion-button>
  <ion-button href="custom">
    Custom
  </ion-button>
  
    <ion-card>
      <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="2" col-3>
                  <ion-item>
                    <ion-label position="stacked">Print Date</ion-label>
                    <ion-input></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="2" col-3>
                  <ion-item>
                    <ion-label position="stacked">Amount 1</ion-label>
                    <ion-input placeholder="$ 0.00"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col size="2" col-3>
                 <ion-item>
                    <ion-label position="stacked">Date 2</ion-label>
                   <ion-input placeholder="/ /"></ion-input>
                 </ion-item>  
               </ion-col>
               <ion-col size="2" col-3>
                 <ion-item>
                   <ion-label position="stacked">Amount 2</ion-label>
                   <ion-input placeholder="$ 0.00"></ion-input>
                 </ion-item>
               </ion-col>
              </ion-row>   
            </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="2" col-3>
               <ion-item>
                  <ion-label position="stacked">Sales Rep #2</ion-label>
                 <ion-input></ion-input>
               </ion-item>  
             </ion-col>
             <ion-col size="2" col-3>
               <ion-item>
                 <ion-label position="stacked">Sales Comm</ion-label>
                 <ion-input placeholder="0.000000"></ion-input>
               </ion-item>
             </ion-col>
            </ion-row>   
          </ion-grid>
         <ion-grid> 
          <ion-row>
            <ion-col size="2" col-3>
             <ion-item>
                <ion-label position="stacked">Project Mjr</ion-label>
               <ion-input></ion-input>
             </ion-item>  
           </ion-col>
           <ion-col size="2" col-3>
             <ion-item>
               <ion-label position="stacked">Numeric 2 </ion-label>
               <ion-input placeholder="0.0000000"></ion-input>
             </ion-item>
           </ion-col>
          </ion-row>   
        </ion-grid>
      <ion-grid> 
        <ion-row>
          <ion-col size="2" col-3>
           <ion-item>
              <ion-label position="stacked">R D Tax?</ion-label>
             <ion-input></ion-input>
           </ion-item>  
         </ion-col>
         <ion-col size="2" col-3>
           <ion-item>
             <ion-label position="stacked">Decimal 1</ion-label>
             <ion-input placeholder="0"></ion-input>
           </ion-item>
         </ion-col>
        </ion-row>   
      </ion-grid>
    <ion-grid> 
      <ion-row>
        <ion-col size="2" col-3>
         <ion-item>
            <ion-label position="stacked">Serial #</ion-label>
           <ion-input></ion-input>
         </ion-item>  
       </ion-col>
       <ion-col size="2">
         <ion-item>
           <ion-button>
             <ion-icon name="document"></ion-icon>
           </ion-button>
         </ion-item>
       </ion-col>
       <ion-col size="2" col-3>
         <ion-item>
           <ion-label position="stacked">Text 5</ion-label>
           <ion-input></ion-input>
         </ion-item>
       </ion-col>
      </ion-row>   
    </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>
