<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-3>
      <ion-button href="home">
        General
      </ion-button>
      <ion-button href="production">
        Production
      </ion-button>
      <ion-button href="pricing">
        Pricing
      </ion-button>
      <ion-button href="deliviries">
        Deliviries
      </ion-button>
      <ion-button href="routing">
        Routing
      </ion-button>
      <ion-button href="material">
        Material
      </ion-button>
      <ion-button href="assemblies">
        Assemblies
      </ion-button>
      <ion-button href="releases">
        Releases
      </ion-button>
      <ion-button href="custom">
        Custom
      </ion-button>
    </ion-col> 
  </ion-row>

  <ion-card>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
