<ion-header>
  <ion-toolbar color="primary">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-3>
      <ion-button href="home">
        General
      </ion-button>
      <ion-button href="production">
        Production
      </ion-button>
      <ion-button href="pricing">
        Pricing
      </ion-button>
      <ion-button href="deliviries">
        Deliviries
      </ion-button>
      <ion-button href="routing">
        Routing
      </ion-button>
      <ion-button href="material">
        Material
      </ion-button>
      <ion-button href="assemblies">
        Assemblies
      </ion-button>
      <ion-button href="releases">
        Releases
      </ion-button>
      <ion-button href="custom">
        Custom
      </ion-button>
    </ion-col> 
  </ion-row>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Scrap%</ion-label>
        <ion-input placeholder="0.00%"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Extra Qty</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-row>
        <ion-col col-3>
        <ion-item>
          <ion-label position="stacked">Pick Qty</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
       <ion-col col-3>
         <ion-item>
           <ion-button>
            <ion-icon name="list"></ion-icon>
           </ion-button>
         </ion-item>
       </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="stacked">Make Qty</ion-label>
        <ion-input placeholder="1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button shape="round" fiil="outline">Serialization</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
